.nav-tabs {
    background-color: darkgrey;
    
}

.nav-link {
    color: white;
}

.active {
    color: black;
}

#contact-block, #contact-blurb {
    background-color: darkgrey;
    padding: 20px;
}

#contact-block {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#contact-blurb {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.contact-form {
    margin-bottom: 10px;
    margin-left: 5px;
}

.contact-form-input {
    width: 95%;
}

#message-input {
    height: 150px;
}




