.nav-tabs {
    background-color: darkgrey;    
}

.nav-link {
    color: white;
}

a.active.nav-link{background-color: white;}

.bio-content, .portfolio-content, .contact-content {
    background-color: white;
    margin: 5px;
}

#contact-block, #portfolio-block, #bio-block {
    background-color: darkgrey;
    padding: 20px;
}

.footer {
    background-color: darkgray;
    padding-top: 20px;
}

#contact-block, #bio-block, #portfolio-block, .bio-content, .portfolio-content, .contact-content, .footer {
    border-radius: 25px;
}

.contact-form {
    margin-bottom: 10px;
    margin-left: 10px;
}

.contact-form-input {
    width: 80%;
}

.card-title {
    width: 90%;
}

#message-input {
    height: 150px;
}

.contact-wrapper, .portfolio-wrapper, .bio-wrapper, #bio-blurb, .portfolio-content, .contact-content {
    padding: 20px;
}

#sidebar-content {
    padding: 30px;
}

#portfolio-block, #contact-block, #bio-block {
    margin-bottom: 10px;
}

.portfolio-thumbnail {
    width: 150px; 
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 0 0 3px 2px rgb(0, 0, 0);
    border-radius: 10px;
}

.port-descrip a, .sm-links a {
      text-decoration: underline;
      color: black
}

.port-descrip a:hover, .nav-link:hover, #bio-blurb a:hover {
    color: dimgrey;
    text-decoration: underline;
}

.contact-wrapper, .bio-wrapper, .invisible, .portfolio-wrapper {
    margin: 5px;
}

#prof-pic {
    border-radius: 200px;
    padding: 10px;
}

@media (max-width: 567px) {
    .nav-tabs li { 
        width:100%; 
    }
    .contact-wrapper, #contact-block, .portfolio-wrapper, #portfolio-block, #bio-block, .bio-wrapper {
        background-color: darkcyan;
        color: white;
        text-align: center; 
        margin: 0px; 
    }
    
    .contact-content, .portfolio-content, .bio-content {
        color: black;
    }

    .nav-tabs {
        background-color: white;    
    }
    
    .nav-link {
        color: white;
        background-color: dimgray;
    }

    .footer-block h5 {
        color: black;
    }

    

    /*.nav {
        position: fixed;
        z-index: +1 
    }*/
    
    
}